@tailwind base;
@tailwind components;
@tailwind utilities;


#__next {
  height: 100vh;
}

html,
body{
  background: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  height: 100%;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  top: 0;
  font-size: 3em;
  line-height: 1;
}

.main{
  flex-grow: 1;
}
.footer {
  border-color:#3f3f46;;
  width: 100%;
  height: 1em;
  margin-bottom: 3vh;
}

.my_img{
  height: 1.5em;
}
.cross_img{
  height: 1.5em;
}

.cross-image{
  background-color: var(--tg-theme-destructive-text-color);
  padding: 0.35em;
  color: var(--tg-theme-secondary-bg-color);
}
.cross-image:hover{
  background-color: var(--tg-theme-secondary-bg-color)
}

.refresh-button{
  background-color: var(--tg-theme-accent-text-color);
  color: var(--tg-theme-button-text-color);
}
.refresh-button:hover, .refresh-button:focus, .refresh-button:active{
  background-color: var(--tg-theme-subtitle-text-color);
}


.main-icon{
  height: 2.5em;
}
.increase-button{
  border-color: var(--tg-theme-hint-color);
  color:  var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color)
}
.increase-button:hover{
  background-color: var(--tg-theme-section-header-text-color);
}
.increase-button:focus{
  background-color: var(--tg-theme-section-header-text-color);
}

.order{
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.section{
  background-color: var(--tg-theme-section-bg-color);
}
.section-header{
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  color:var(--tg-theme-section-header-text-color);
}

.result-position{
  color: var(--tg-theme-subtitle-text-color);
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.75rem;

}

.list-element{
  margin-bottom: 1em;
}
.separetor{
  border-bottom-width: 1px;
  border-color: black;
}

.link{
  color: var(--tg-theme-link-color);
}

.subtitle-text{
  color: var(--tg-theme-subtitle-text-color);
}

.mini-logo{
  height: 1em;
  width: 1em;
  display: flex;
  align-self: center;
  margin-right: 0.5em;
  fill: var(--tg-theme-text-color);
}
.mini-logo-metro{
  height: 1.8em;
  width: 1em;
  display: flex;
  align-self: flex-end;
  margin-right: 0.5em;
  fill: var(--tg-theme-text-color);
}
